@import "../../styles/styles.scss";

.Improviser {
  @include v-pad($gap-xl);
  @include l-pad($gap-lg);
  .form-container {
    form {
      @include v-stack;
      input[type="number"] {
        @include pad;
        @include v-mar;
      }
    }
  }
  .buttons {
    @include h-stack-c;
    width: 100%;
    justify-content: space-between;
    button {
      width: 100%;
      @include mar;
      a {
        font-size: $txt-ms;
        font-weight: bold;
      }
    }
  }
  .description {
    @include v-mar;
    color: var(--txt2);
  }
  .status {
    text-align: center;
    color: var(--success);
  }
}
