@import "../../styles/styles.scss";

.FileUploader {
  @include v-pad($gap-xl);
  @include r-pad($gap-lg);
  input[type="file"] {
    display: none;
  }

  .file-menu {
    @include v-stack;
    @include round;
    height: 312px;
    overflow: auto;
    background-color: var(--bg2);
  }
  .buttons {
    @include h-stack-c;
    width: 100%;
    justify-content: space-between;
    button,
    label {
      @include btn;
      @include mar;
      text-align: center;
      font-size: $txt-ms;
      font-weight: bold;
      width: 100%;
      height: 100%;
    }
  }
  .description {
    @include v-mar;
    color: var(--txt2);
  }
}
